@page
@model BasicAuthentication.Pages.SecretModel
@{
    ViewData["Title"] = "Secret";
}

<h2>Secret</h2>

<p>Your credentials:</p>

@foreach (var identity in User.Identities)
{
	<dl>
		<dt>Actor</dt>
		<dd>@identity.Actor</dd>

		<dt>AuthenticationType</dt>
		<dd>@identity.AuthenticationType</dd>

		<dt>Claims</dt>
		<dd>
			<div>
				@foreach (var claim in identity.Claims)
				{
					<dl>
						<dt>Issuer</dt>
						<dd>@claim.Issuer</dd>

						<dt>OriginalIssuer</dt>
						<dd>@claim.OriginalIssuer</dd>

						<dt>Type</dt>
						<dd>@claim.Type</dd>

						<dt>Value</dt>
						<dd>@claim.Value</dd>

						<dt>ValueType</dt>
						<dd>@claim.ValueType</dd>
					</dl>
				}
			</div>
		</dd>
	</dl>
}